*{
    box-sizing: border-box;
}

ul.tags-list li {
    display: inline;
    margin: 10px;
    padding: 0;
}


a.bookmark-title{
    font-size:30px
}

ul.tags-list{
    border : 2px solid #555
}

li.bookmark{
    margin: 20px 0;
    border: 2px solid #990;
    padding: 5px
}

#tag-cloud {
     text-align: center;
   }
#tag-cloud a {
    margin: 0 0.2em;
}
# Tags weights
.tag-cloud-0 { font-size: 100%; }
.tag-cloud-1 { font-size: 120%; }
.tag-cloud-2 { font-size: 140%; }
.tag-cloud-3 { font-size: 160%; }
.tag-cloud-4 { font-size: 180%; }
.tag-cloud-5 { font-size: 200%; }
