{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'bookmarks/style.css'%}">
    <script rel="stylesheet" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script rel="text/javascript" src="{% static 'bookmarks/jquery.js'%}"></script>
    {% block external %}{% endblock %}
</head>
<body>
    <div class="row">
    <ul id="nav-bar">
        <li><a href="{%url 'main_page' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li>welcome <a href="{% url 'user_page' username=user.username%}">{{ user.username }}</a></li>
        <li><a href="{%url 'user_logout' %}">logout</a></li>
        {% else %}
        <li><a href="{%url 'user_login' %}">Login</a></li>
        <li><a href="{%url 'user_register' %}">Register</a></li>
        {% endif %}
    </ul>
    {%block content%}
    {% endblock %}
    </div>
</body>
</html>